body {
  font-family: Arial;
  margin: 0;
}

.topnav {
  background-color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-top: 1px solid #424242;
  box-shadow: 0px 5px 9px 1px rgba(0,0,0,.5);
}

li { float: left;}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #111;
}

.right {float: right;}

li a:hover:not(.active) { background-color: #111;}

.active {
  background-color: #cc191b;
}

#codec-logo {
  width: 225px;
  height: 65px;
  text-align: center;
  padding: 0.5em;
  margin-left: 10px;
}

.container {
  position: relative;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  position: relative;
  margin: 5px;
  padding: 3em;
  width: 15%;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ff6666;
  text-align: center;
  color: white;
  font-weight: bold;
  flex-grow: 1;
  flex-flow: space-around;
}

div.wrapper {
  position: relative;
  margin: 5px;
  padding: 1.5em;
  width: 15%;
  height: 100px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
  flex-grow: 1;
  flex-flow: space-around;
}

.wrapper h1 {
  position: relative;
  margin: 0px;
}

.footer{
  position: relative;
  bottom: 0;
  margin-top: 25px;
  margin-bottom: 0;
}

footer.footer ul li {
  padding: 2em;
  color: white;
  float: right;
}

@media screen and (max-width: 600px){
    ul li.right,
    ul li {float: none;}
    .wrapper {font-size: 20px;}
}

@media screen and (max-width: 400px){
  h1 {
    display: none;
  }
}
